@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root{
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Space Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Light-grayish-cyan);
  font-size: 16px;
}
.container{
  max-width: 850px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
  background-color: var(--White);
  gap: 2rem;
  border-radius: 20px;
  box-shadow: 0px 5px 55px -3px rgba(0,0,0,0.1);
  margin: 1rem;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(183, 100%, 15%,0.8);
  margin: 4rem auto;
  letter-spacing: 9px;
  font-size: 24px;
}
.left-side{
  display: grid;
  gap: 2rem;
  padding: 1rem;
}
.bill,
.numberofpeople{
  display: grid;
  gap: 0.3rem;
  color: var(--Dark-grayish-cyan);
  position: relative;
  font-size: 14px;
}
.bill input,
.numberofpeople input{
    padding: 0.7rem;
    border: none;
    outline: none;
    background-color: var(--Very-light-grayish-cyan);
    border-radius: 6px;
    text-align: right;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    
}
.bill input:focus,
.numberofpeople input:focus{
  border: 2px solid var(--Strong-cyan);
}
.bill input::placeholder,
.numberofpeople input::placeholder{

  color: var(--Dark-grayish-cyan);
  font-size: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:  textfield;
}

input::-webkit-input-placeholder {
  font-family: 'Space Mono', monospace;
}

input:-ms-input-placeholder {
  font-family: 'Space Mono', monospace;
}

input:-moz-placeholder {
  font-family: 'Space Mono', monospace;
}

input::-moz-placeholder {
  font-family: 'Space Mono', monospace;
}
.bill img,
.numberofpeople img{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(9%,32%);
}
.select-tip{
  display: grid;
  gap: 0.4rem;
  color: var(--Dark-grayish-cyan);
}
.select-tip div{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0.7rem;
}
.select-tip div button{
  padding:  0.3rem 1rem;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--Very-dark-cyan);
  border-radius: 5px;
  color: var(--White);
  font-family: 'Space Mono', monospace;
  font-size: 20px;
}
.select-tip div button:hover{
  background-color: hsl(172, 67%, 45%,0.4);
  color: var(--Very-dark-cyan);
  cursor: pointer;
}
.select-tip div button:focus{
  background-color: hsl(172, 67%, 45%);
  color: var(--Very-dark-cyan);
  cursor: pointer;
}
.select-tip div input{
  width: 100%;
  padding:  0.3rem ;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: var(--Very-light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  color: var(--Very-dark-cyan);
}
.select-tip div input::placeholder{
  text-align: center; 
}
.select-tip div input:focus{
  border: 2px solid var(--Strong-cyan);
}
.right-side{
  background-color: var(--Very-dark-cyan);
  border-radius: 15px;
  padding: 3rem 2rem 2rem;
  
  gap: 2rem;

}
.tip-amount,
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  color: var(--White);
}
.tip-amount p,
.total p{
  color: var(--Grayish-cyan);
  font-size: 14px;
}
.tip-amount h1,
.total h1{
  font-size: 40px;
  color: var(--Strong-cyan);
}
.reset{
  position: relative;
  bottom: -20%;
  width: 100%;
  background-color: hsl(172, 67%, 45%,0.2);
  color: var(--Very-dark-cyan);
  border: 1px solid transparent;
  padding: 0.3rem;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
  font-size: 17px;
  letter-spacing: 1px;
}
.reset:hover{
  background-color:var(--Light-grayish-cyan);
  
  cursor: pointer;
}
.error{
  color: hsl(0, 81%, 67%);
  position: absolute;
  right: 0;
  font-size: 13px;
}
@media screen and (max-width:768px) {
    .container{
      grid-template-columns: 1fr;
      min-height: 100vh;
      margin: 0;
    }
    .reset{
      bottom: -8%;
    }
}