:root{
  --yellow: hsl(46, 96%, 70%);
  --white: 	hsl(0, 0%, 100%);
  --purple: hsl(250, 79%, 69%);
  --dark-grey: hsl(252, 3%, 34%);
  --black-off: hsl(255, 4%, 19%);
  --grey:	hsl(0, 0%, 92%);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1440px;
  margin: auto;
}
header div{
  display: flex;
  align-items: center;
}
.logo{
  font-weight: 700;
  font-size: 22px;
  color: var(--purple);
  margin-left: 2rem;
}
.desktop ul{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-right: 2rem;
}
nav ul li{
  list-style: none;
}


nav ul li a{
  text-decoration: none;
  color: var(--black-off);
  font-weight: 600;
}
nav ul li a:hover{
  color: var(--purple);
}
.contact-btn{
  padding: 1rem 1.5rem;
  background-color: var(--purple);
  color: var(--white);
  border-radius: 35px;
}
.contact-btn:hover{
  background-color: white;
  color: var(--purple);
  transition: 0.2s ease-in;
}

/* about section start */
.about{
  position: relative;
  max-width: 1440px;
  margin: 4rem  auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 4rem 0;
  min-height: 60vh;
  
}



.about img{
  animation: zoomIn;
  animation-duration:2s;
}
.about-social-icons{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation: fadeInDown 2s;
}
.about-social-icons a{
  color: var(--purple);
  text-decoration: none;
  font-size: 30px;
}
.about-social-icons a:hover{
  color: var(--black-off);
  transition: 0.4s ease-in;
}

.about .text{
  display: grid;
  animation: bounceInLeft;
  animation-duration:2s;
  gap: 2rem;
}
.about .text h1{
  font-size: 60px;
  color: var(--black-off);
}

.about .text h1 span{
  color: var(--purple);
  
}
.about .text p{
  color: var(--dark-grey);
  line-height: 1.6;
}
.about .text p b{
  color: var(--black-off);
}
.about .buttons{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.about .buttons a{
  text-decoration: none;
  color: var(--black-off);
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  gap: 1rem;
}
.about .buttons a i{
  font-size: 22px;
}
.purple-btn{
  background-color: var(--purple);
  color: var(--white) !important;
  border-radius: 20px;
}
.about .buttons a:hover{
  color: var(--purple) !important;
  background-color: var(--white);
  transition: 0.4s ease-out;
}
/* about section end */

/* skills section start */
  
.skills{
  
  padding: 6rem  4rem;
  color: var(--black-off);
 position: relative;
 animation: fadeInTopLeft 2s;
}
 
.skills .wrapper{
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.skills .wrapper h1{
  border-bottom: 6px solid var(--purple);
  border-radius: 8px;
  font-size: 50px;


}
.skills-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  place-content: center;
  gap: 3rem;
  
}
.skill{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: start;
  margin-right: 2rem;
  color: var(--dark-grey);
}

.skill div{
  display: flex;
  align-items: center;
  gap: 1rem;
  
}
.bar{
  padding: 0.5rem 10rem;
  background-color: var(--dark-grey);
  border-radius: 30px;
  display: flex;
  justify-content: start;
  position: relative;
}
.percentage{
  padding: 0.5rem ;
  background-color: var(--purple);
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;

}
.circle-icon{
  position: absolute;
  color: var(--white);
  
}
/* skills section end  */

/* portfolio section start */

.portfolio{
  
  z-index: 5;
  display: flex;
  min-height: 50vh;
  padding: 4rem;
  margin: 10rem 0;
  
  
}
.portfolio .wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  gap: 4rem;
  
}
.portfolio .wrapper h1{
 color: var(--black-off);
 text-transform: uppercase;
 
 border-bottom: 6px solid var(--purple);
 border-radius: 8px;
}
.projects{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  
  gap: 3rem;
}
.project{
  display: grid;
  gap: 2rem;
  position: relative;
 
  
  
}
.overflow-img{
  position: relative;
}
.overflow-img:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 0%,0.5);
  box-shadow: 11px 13px 12px -5px rgba(0,0,0,0.1);
  border-radius: 10px;
  z-index: 1;
  animation: fadeIn 1s;
  cursor: pointer;
  
  
}
.project .heading{
  position: absolute;
  bottom: 60%;
  left: 0%;
  right: 31%;
  transform: translate(23%,50%);
  z-index: 2;
  color: var(--white);
  
}

.project-btn{
  position: absolute;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 1rem;
  bottom: 47%;
  right: 45%;
  font-size: 35px;
  transform: translate(23%,50%);
  z-index: 2;
}
.project-btn a {
 
  color: var(--white);
}
.project-btn a:hover {
 
  color: var(--yellow);
  transition: 0.3s ease-in;
}
.project-img img{
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
 
  
}


.project h3{
  text-align: center;
  
}
.project .title{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-transform: capitalize;
  line-height: 1.5;
  color: var(--white);
  padding: 1rem;
}

.project .title a{
  
  color: var(--black-off);

}
.project .title a:hover{
  color: var(--white);
  transition: 0.5s ease-in;
}
.project .title a i{
  font-size: 30px;
}



.project-1,
.project-3{
  position: relative;
  bottom: -30%;
}

.browse-btn{
  text-decoration: none;
  padding: 1rem;
  font-weight: 700;
  color: var(--purple);
  
  border-radius: 35px;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  gap: 1rem;
  letter-spacing: 1px;
  margin-top: 9rem;
  z-index: 10;
  
}
.browse-btn:hover{
  
  color: var(--black-off);
  transition: 0.5s ease-in;

}
.browse-btn i{
  font-size: 22px;
}

/* portfolio section end */


/* footer section start */

footer{
  background-color: var(--purple);
  margin-top: 6rem;
  position: relative;
}
.footer-wave{
  background: url(components/assets/wave-footer.svg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -93%;
}
.footer-wrapper{
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  gap: 2rem;
  color: var(--white);
  z-index: 10;
}
.footer-wrapper .contact{
  display: flex;
  justify-content: center;
  gap: 3rem;
}
footer .email,
.address{
  display: flex;
  justify-self: center;
  gap: 1rem;
  align-items: start;

}
.email i ,
.address i{
  font-size: 25px;
}
.email em 
,
.address em {
  font-weight: 700;
}
.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap :1.5rem;
}
.social-icons a{
  text-decoration: none;
  color: var(--white);
  font-size: 22px;

}

.social-icons a:hover{
  color: var(--black-off);
  transition: 0.5s ease-in;
}
/* footer section end */


/* contact section start */

.contact-page{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 4rem;
  width: 80vw;
  flex-direction: column;
  gap: 2rem;
  background-color: hsl(250, 79%, 69%,0.8);
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 50;
  border-radius: 10px;
  animation: slideInUp 0.5s;
}
.contact-page h1{
  text-transform: uppercase;
  font-size: 40px;
  color: var(--white);
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  
  
  
  border-radius: 10px;
  
  
}
.contact-page #close-icon{
  position: absolute;
  right: 6%;
  top: 6%;
  font-size: 35px;
  color: var(--white);
  cursor: pointer;
}

.form input, textarea{
  padding: 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
}
.input{
  display: grid;
  gap: 0.5rem;
}
.error{
  color: #FFA33C;
}
.form button{
  padding: 1rem;
  width: 30%;
  margin: auto;
  border: none;
  outline: none;
  background: white;
  color: var(--dark-grey);
  font-size: 22px;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: 1px;

}
.form button:hover{
  color: var(--white);
  cursor: pointer;
  background: transparent;
  transition: 0.3s ease-out;
}



.overflow{
  position: relative;
}
.overflow::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: hsl(255, 4%, 19%,0.5);
  z-index: 34;

}
.menu-mobile{
  display: none;
}
.thankyou{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  
}
.thankyou i{
  color: var(--white);
  font-size: 100px;
}
.thankyou p{
  color: var(--grey);
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
}
/* conatct section end */



/* night-mode style */
.night-mode,
.light-mode{
  font-size: 20px;
  cursor: pointer;
  color: var(--black-off);
  margin-right: 0.5rem;
  animation: fadeInRight 1s;
}
.avatar-night-mode{
  background-color: var(--black-off) !important;
}
.light-mode{
  color: var(--yellow) !important;
}
.container-night-mode{
  background-color: var(--black-off);
  animation: fadeIn 1s;
}

.night-mode-text-heading{
  color: var(--white) !important;
}

.night-mode-text-buttons{
  color: var(--white) !important;
}
.night-mode-text-buttons:hover{
  background: transparent !important;
}
.night-mode-social-icons i:hover{
  color: var(--white) !important;
  transition: 0.7s ease-in;
}
.night-mode-icons{
  color: var(--white);
}

.night-mode-text{
  color: var(--grey) !important;
}
.night-mode-navbar{
  color: var(--white);
}


.night-mode-bar{
  background-color: var(--grey) !important;
}
.night-mode-circle{
  display: none;

}
.night-mode-browse-btn-portfolio{
  color: var(--white);
}
.night-mode-browse-btn-portfolio:hover{
  color: var(--purple);
  background-color: var(--white);
  transition: 0.77s ease-in;
}

/* night-mode style */



@media screen and (max-width:1198px){
  .about .text h1{
    font-size: 50px;
  }
  .about img{
    width: 50%;
  }
  .skills-items{
    grid-template-columns: 1fr 1fr;
  }
  .skill{
    margin: 0;
  }
}
@media screen and (max-width:1124px){
  .about .text h1{
    font-size: 45px;
  }
  .about .buttons a{
    padding: 1.2rem 1.7rem;
    gap: 0.3rem;
  }
  .project-btn{
    bottom: 37%;
  }
}
@media screen and (max-width:854px){
  .about img{
    width: 40%;
  }
}
@media screen and (max-width:768px) {

  .desktop{
    display: none;
  }
  .mobile{
    background-color: var(--purple);
    width: 70vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0%;
    animation: fadeInRight 1s;
   
  }
  .mobile ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: start;
    position: absolute;
    top: 19%;
    right: 48%;
    
  }
  .mobile ul li a{
    color: var(--white);
    font-size: 25px;
  }
  .contact-btn {
    color: var(--black-off) !important;
    background-color: white;
    position: absolute;
    right: -65%;
  }
  #close-icon{
    position: absolute;
   right: 4%;
   top: 2%;
   font-size: 30px;
   color: var(--white);
   cursor: pointer;
  }
  header{
    padding: 1rem;
  }
  .menu-mobile{
    display: block;
    color: var(--purple);
    font-size: 40px;
    margin: 0;

  }
  .logo{
    margin: 0;
  }
  .about{
    display: grid;
    place-content: center;
    align-items: center;
    margin: 2rem 0;
    padding: 1rem;
  }
  .about img{
    grid-row: 1;
    width: 70%;
    margin: auto;
  }
  .about-social-icons{
    display: flex;
    flex-direction: row;
    
    text-align: center;
    margin:  3rem auto 0;
  }
  
  .skills-items{
    grid-template-columns: 1fr;
  }
  .skills{
    padding: 1rem;
  }
  
  .portfolio{
    margin: 1rem 0;
    padding: 1rem;
  }
  .projects{
    grid-template-columns: 1fr;
    
  }
  .project-1, .project-3{
    bottom: 0;
  }
  .project-btn{
    bottom: 35%;
    
  }
  .browse-btn{
    margin-top: 2rem;
  }
  .footer-wave{
    top: -70%;
    z-index: 1;
  }
  .footer-wrapper{
    padding: 1rem;
    margin: 0;
    align-items: start;
  }
  .footer-wrapper h1{
    z-index: 2;
  }
  .footer-wrapper .contact{
    display: grid;
  }
  .footer-wrapper .social-icons{
    position: relative;
    left: 35%;
  }
  .contact-page{
    padding: 4rem  2rem 2rem;
    top: 2%;
    gap: 0.5rem;
    
  }
  .form{
    gap: 1rem;

  }
  .form input, textarea{
    padding: 1rem;
  }
  .form button{
    font-size: 18px;
    width: 100%;
  }
  .contact-page #close-icon{
    font-size: 30px;
    top: 2%;
  }
  .thankyou{
    text-align: center;
  }
  .thankyou h1{
    font-size: 35px;
  }
  .thankyou p{
    font-size: 18px;
  }
}