@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
:root{
  --Soft-Cyan: hsl(174, 77%, 80%);
  --Strong-Cyan: hsl(174, 86%, 45%);
  --Light-Grayish-Red : hsl(14, 92%, 95%);
  --Light-Red: hsl(15, 100%, 70%);
  --Pale-Blue: hsl(226, 100%, 87%);

/*naturel color */

  --White: hsl(0, 0%, 100%);
  --Very-Pale-Blue : hsl(230, 100%, 99%);
  --Light-Grayish-Blue-1 : hsl(224, 65%, 95%);
  --Light-Grayish-Blue-2 : hsl(223, 50%, 87%);
  --Grayish-Blue : hsl(225, 20%, 60%);
  --Dark-Desaturated-Blue : hsl(227, 35%, 25%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Manrope', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(components/assets/bg-pattern.svg)no-repeat center center/cover;
  
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
}
.title{
  display: grid;
  gap: 0.4rem;
  text-align: center;
  position: relative;
}
.circles{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color:var(--Dark-Desaturated-Blue) ;
}
.title p{
  color: var(--Grayish-Blue);
}
.card{
  padding: 3rem;
  width: 600px;
  display: grid;
  gap: 2rem;
  background-color: var(--White);
  border-radius: 5px;
  box-shadow: 0px 9px 15px 10px rgba(0,0,0,0.03);
}
.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Grayish-Blue);

}
.top  p:first-child{
  text-transform: uppercase;
  letter-spacing: 2px;
}
.top p{
  display: flex;
  align-items: center;
}
.top p span{
  color: var(--Dark-Desaturated-Blue);
  font-size: 39px;
  margin-right: 0.4rem;
  font-weight: 800;
}


.toggle-bar{
  height: 22px;
  border-radius: 30px;
  width: 44px;
  background-color: var(--Light-Grayish-Blue-2);
  position: relative;
  cursor: pointer;
  
}
.off-on-circle{
  height: 14px;
  width: 14px;
  background-color: var(--White);
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 10%;
  animation: fadeInRight 0.4s;
}
.isyearly{
  background-color: var(--Soft-Cyan);
  position: relative;
}
.isyearly-circle{
  position: absolute;
  left: 57%;
  animation: fadeInLeft 0.4s;
}


input[type="range"] {
  -webkit-appearance: none;
  height: 10px;
  width: 100%;
 
   border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  box-shadow: 0px 15px 21px 0px hsl(174, 86%, 45%,0.5);
  background: url(components/assets/icon-slider.svg) no-repeat center ;
  background-color: var(--Strong-Cyan);
  
}
input[type="range"]::-webkit-slider-thumb:hover{
  background: url(components/assets/icon-slider.svg) no-repeat center ;
  background-color: var(--Soft-Cyan);
  cursor: pointer;
}

.billing{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--Grayish-Blue);
  position: relative;
  transform: translate(10%);
  font-size: 13px;
}
.billing small{
  color: var(--Light-Red);
  padding: 0.2rem 0.5rem;
  background-color: var(--Light-Grayish-Red);
  border-radius: 10px;
}


.cta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.features ul{
  display: grid;
  gap: 0.7rem;
  color: var(--Grayish-Blue);
}
li{
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;

}
.cta button{
  padding: 1rem 3rem;
  border: none;
  outline: none;
  background-color: var(--Dark-Desaturated-Blue);
  color: var(--Pale-Blue);
  font-family: 'Manrope', sans-serif;
  border-radius: 40px;
}
.mobile {
  display: none;
}
@media screen and (max-width:768px) {
  .title{
    margin-top: 4rem;
  }
  .card{
    margin-bottom: 1rem;
  }
  .card .top{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 8rem;
  }
  .card{
    position: relative;
  }
  .slider{
    position: absolute;
    width: 80%;
    top: 19%;
    left: 10%;
  }
  .billing{
    transform: translate(0);
  }
  .billing small{
    display: none;
  }
  .mobile {
    display: block !important;
  }
  .cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

  }
  .card{
    padding: 3rem 1rem;
    max-width: 500px;;
  }
}
@media screen and (max-width:568px){
  .card{
    max-width: 450px;;
  }
  .title h1{
    font-size: 26px;
  }
  .title p{
    font-size: 14px;
  }
}
@media screen and (max-width:500px){
  .card{
    max-width: 400px;

  }
  .title h1{
    font-size: 24px;
  }
  .title p{
    font-size: 13px;
  }
}
@media screen and (max-width:450px){
  .card{
    max-width: 350px;
  }
}

@media screen and (max-width:400px){
  .card{
    max-width: 300px;
  }
  .title h1{
    font-size: 24px;
  }
 
}
@media screen and (max-width:350px){
  .card{
    max-width: 280px;
  }
  .title h1{
    font-size: 23px;
  }
  .title p{
    font-size: 12px;
  }
}
@media screen and (max-width:300px){
  .card{
    max-width: 250px;
  }
}