
.wrapper{
    background-color: hsl(14, 98%, 57%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 0%,0.6);
}
.login {
    padding: 3rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}
.login img{
    width: 300px;
}
.login label{
    display: grid;
    gap: 0.5rem;
    
}
label strong{
    color: hsl(60, 1%, 14%);
}
.login label input{
    border: 1px solid hsl(240, 0%, 61%,0.3);
    width: 400px;
    padding: 0.5rem 1rem;

}
.login label input:focus{
    border: 1px solid hsl(14, 98%, 57%);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
}
.login button{
    margin-top: 1rem;
    padding: 0.5rem;

}
.back a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: hsl(60, 1%, 14%);
    gap: 0.5rem;
    font-size: 15px;
    font-weight: 600;
}
.back i{
    font-size: 18px;
    
}
@media screen and (max-width:768px) {
    .login{
        width: 80vw;
        margin: 0 1rem;
    }
    .login label input{
        width: 100%;
    }
}